[Unit]
Description=Update Docker containers in /etc/hosts
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]
ExecStart=/opt/docker-dns.sh

[Install]
WantedBy=docker.service
